

html {
    height: 100%;
}

body{
    margin: 0%;
    padding: 0%;
    min-height: 100%;
}


/* ::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

::-webkit-scrollbar {
    height: 4px;              /* height of horizontal scrollbar ← You're missing this */
    width: 4px;               /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #b0b0b0;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: black;
}

.first-page{
    background-color: black;
}

.main-page{
    background-color: black;
    margin-top: 5%;
    padding: 10%;
}

.image1 {
    border-radius: 50%;
    border: 5px solid cyan;
    display: inline-block;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: auto;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 5%;
}

.image2 {
    float: left;
}

.image3 {
    float: right;
}

.name-style{
    text-align: center;
    color: #f1f1f1;
}

.second-style{
    text-align: center;
    color: cyan;
}

.second-page{
    background-image: url("images/bg1.jpg");
    background-size: cover;
    height: 325%;  
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    padding: 10%;
}

.abouts {
    text-align: center;
    color: #f1f1f1;
    padding-bottom: 3%;
    font-size: 250%;
    
}

.para1{
    color: cyan;
    text-decoration: antiquewhite;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.third-page{
    background-image: url("images/bg2.jpg");
    background-size: cover;
    height: 325%;  
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    /* padding: 10%; */
}

.work-experience{
    overflow: auto;
    white-space: nowrap;
    padding: 5%;
}

.work-layout{
    border-radius: 2%;
    display: inline-block;
    border:2px solid white;
    background-color: #272727;
    text-align: center;
    opacity: 0.7;
    height: 22rem;
    width: 22rem;
    overflow: hidden;
    padding: 3px;
    margin-right: 3rem;
}

.logo-img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
    margin-bottom: 3%;

}

.work-title{
    color: #f1f1f1;
}

.para-style{
    color: aliceblue;
}


.box{
    color: #f1f1f1;
}

.fourth-page{
/*     background-image: url("images/bg4.jpg"); */
    background-size: cover;
    height: 520%;  
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 2%;
    /* padding: 10%; */
}

.extracal{
    text-align: center;
    color: #f1f1f1;
    font-size: 250%;
    padding-top: 3%;
    padding-bottom: 4%;

}
.Extrathing{
    padding: 5%;
    text-align: center;

}

/* .extra-layout{
    border-radius: 50%;
    display: inline-block;
    border:2px solid white;
    background-color: #272727;
    text-align: center;
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    padding: 3px;
    margin: 5px;
} */

.logo-img2{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-bottom: 3px;

}

.last-page{
/*     background-image: url("images/bg8.jpg"); */
    background-size: cover;
    height: 37.75rem;  
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 3%;
    /* padding: 10%; */
}

.contme {
    text-align: center;
    color: #f1f1f1;
    padding-top: 16%;
    padding-bottom: 22px;
    font-size: 250%;
    
}

.contact-me{
    /* overflow: auto;
    white-space: nowrap; */
    text-align: center;
    font-size: small;
    

}




/* .info{
    margin: 3%;
} */

footer{
    background-color: black;
    color: #f1f1f1;
    height: 60px;
    text-align: center;
    padding: 12px; 
}
